* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//Var related to diameter of circle;

$r: 7em;

//Typography size
$header2: 1.8rem;
$header2-desktop: 2.8rem;
$text: 1.2rem;

// Typography colour
$text-violet: #4c4981;
// Color scheme
$text-logo: white;
$background-violet: #4c4981;
$background-red: #ee3b40;
$background-blue: #6165d7;

//Global Styling
html {
  animation: opening 1.5s ease-in-out forwards;
  -webkit-animation: opening 1.5s ease-in-out forwards;
}
a {
  text-decoration: none;
  font-family: "Spartan", sans-serif;
}

li {
  list-style: none;
}

svg {
  max-width: 100%;
}

//End of global styling

.nav-header {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;

  .logo-box {
    display: grid;
    place-items: center;
    width: 5em;
    min-height: 6em;

    #logo {
      color: $text-logo;
      transition: all 0.2s ease-in-out;
      a:hover {
        transform: scale(1.2);
      }
    }

    .logo-text {
      position: relative;
      font-size: 0.5rem;
      font-family: "Nova Slim", cursive;
      letter-spacing: 0.1rem;
    }

    &:before {
      position: absolute;
      padding: $r;
      margin: -$r;
      border-radius: 40%;
      background: #4c4981;
      content: "";
      box-shadow: 0px 0px 10px black;
    }
  }

  .navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    visibility: hidden;

    .nav-link {
      display: flex;
      background: transparent;
      color: $background-violet;
      padding: 0.8rem 2rem;
      border: 2px solid $background-violet;
      border-radius: 5px;
      font-size: 1.1rem;
      margin: 1.5rem;
    }

    .active {
      background: $background-blue;
      border: 2px solid $background-blue;
      color: white;
    }

    a:hover {
      box-shadow: 0px 15px 20px rgba(128, 0, 128, 0.2);
      color: #fff;
      border: 2px solid $background-blue;
      background: $background-blue;
    }
  }

  .burger {
    padding: 1em;

    .burger-circle {
      background: white;
      padding: 1em;
      border-radius: 50%;
    }

    .line1,
    .line2 {
      width: 2em;
      height: 0.2rem;
      margin: 0.3rem;
      background: $background-violet;
      pointer-events: none;
    }
  }
}

.nav-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: $background-violet;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 50vh;

  .nav-btn {
    border: 2px solid white;
    padding: 0.5em 1em;
    border-radius: 10px;
    color: black;
    font-size: 1.4rem;
    color: white;
    margin: 2em;
  }
}
// Main

.about {
  width: 70%;
  min-height: 70vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .about-wrapper {
    .about-text {
      min-height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;

      h2 {
        font-size: $header2;
        font-family: "Spartan", sans-serif;
      }

      p {
        font-family: "Lato", sans-serif;
        color: $text-violet;
        line-height: 1.4rem;
        font-size: 0.8rem;
        padding-bottom: 2em;
      }
    }

    .about-btn {
      background: $background-red;
      padding: 1em 2em;
      border-radius: 10px;
      color: black;
      font-size: 1.2rem;
      font-family: "Lato", sans-serif;
      letter-spacing: 0.1rem;
      color: white;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
      text-transform: uppercase;
    }

    .about-btn:hover {
      background-color: $background-blue;
      box-shadow: 0px 15px 20px rgba(128, 0, 0, 0.2);
      color: #fff;
    }
  }
}

.footer {
  width: 100%;
  text-align: end;

  .logo-planit img {
    width: 20%;
  }
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (orientation: landscape) {
  .about {
    display: flex;
    justify-content: none;
    .about-wrapper {
      display: flex;
      align-items: center;

      svg {
        height: 50%;
      }
      .about-image {
        order: 1;
      }
    }
  }

  .footer {
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .footer-wrapper {
      width: 10%;
      text-align: center;
    }

    .logo-title {
      display: inline-block;
      font-family: "Lato", sans-serif;
      font-weight: 100;
      font-size: 0.8rem;
      text-align: start;
      width: 70%;
    }

    .logo-planit img {
      width: 70%;
    }
  }
}

@media (orientation: portrait) {
  svg {
    height: 40%;
  }
}

@media (min-width: 767px) {
  .about .about-wrapper .about-text h2 {
    font-size: $header2-desktop;
    padding-bottom: 0.3em;
  }
  .about .about-wrapper .about-text p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .about {
    min-height: 75vh;
  }
  svg {
    max-width: 100%;
  }

  .about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    width: 35em;
  }

  main .nav-header .navigation {
    visibility: visible;
  }

  main .nav-header .burger {
    display: none;
  }
}
