* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #5a4980;
  animation: opening 1.5s ease-in-out forwards;
  -webkit-animation: opening 1.5s ease-in-out forwards;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

main .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
  position: relative;
}

main .nav-header .back {
  margin: 1em;
}

main .nav-header .back .right-chevron {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

main .nav-header .back .right-chevron:before {
  width: 4px;
  height: 18px;
  content: "";
  border-radius: 6px;
  background-color: #5a4980;
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

main .nav-header .back .right-chevron:after {
  width: 4px;
  height: 18px;
  content: "";
  border-radius: 6px;
  background-color: #5a4980;
  display: block;
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  margin: auto;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.title-header {
  font-size: 1.8rem;
  color: white;
  font-family: "Spartan", sans-serif;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.burger {
  padding: 1em;
}

.burger .burger-circle {
  background: white;
  padding: 1em;
  border-radius: 50%;
}

.burger .line1,
.burger .line2 {
  width: 2em;
  height: 0.2rem;
  margin: 0.3rem;
  background: #5a4980;
  pointer-events: none;
}

.nav-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50vh;
}

.nav-links .nav-btn {
  border: 2px solid #5a4980;
  padding: 0.5em 1em;
  border-radius: 10px;
  color: black;
  font-size: 1.4rem;
  color: #5a4980;
  margin: 2em;
}

.activities {
  width: 100%;
  margin: auto;
  background: white;
  background-size: cover;
}

.activities .activities-wrapper {
  min-height: 80vh;
}

.activities .activities-wrapper .card {
  margin: 1em;
}

.activities .activities-wrapper .card h4 {
  text-align: center;
  color: #5a4980;
  font-family: "Spartan", sans-serif;
  font-weight: lighter;
  padding-top: 0.5em;
}

.activities .activities-wrapper .card img.act-box {
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.activities .activities-wrapper .card img.act-box:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

div img {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}

div img {
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
}

div img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
}

.footer {
  width: 100%;
  text-align: end;
}

.footer .logo-planit img {
  width: 20%;
}

@media (orientation: landscape) {
  .activities .activities-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .activities .footer .logo-planit img {
    width: 10%;
  }
}

@media (orientation: portrait) {
  .activities-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .activities-wrapper .card {
    text-align: center;
  }
  .activities-wrapper img.act-box {
    max-width: 50%;
  }
}

@-webkit-keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=act.css.map */