* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//helper class

//Var related to diameter of circle;

$r: 7em;

//Typography size
$header2: 1.8rem;
$header3: 1.8rem;
$header4: 2rem;
$text: 1.2rem;

// Typography colour
$text-violet: #4c4981;
$text-white: white;
$text-logo: white;
$background-violet: #5a4980;
$background-red: #ee3b40;
$background-blue: #6165d7;

//Global Styling

body {
  background: $background-violet;
  animation: opening 1.5s ease-in-out forwards;
  -webkit-animation: opening 1.5s ease-in-out forwards;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

main {
  .nav-header {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;

    .back {
      margin: 1em;

      .right-chevron {
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 50%;
        position: relative;
        cursor: pointer;

        &:before {
          width: 4px;
          height: 18px;
          content: "";
          border-radius: 6px;
          background-color: $background-violet;
          display: block;
          position: absolute;
          top: 10px;
          right: 0;
          left: 0;
          margin: auto;
          transform: rotate(45deg);
        }

        &:after {
          width: 4px;
          height: 18px;
          content: "";
          border-radius: 6px;
          background-color: $background-violet;
          display: block;
          position: absolute;
          right: 0;
          bottom: 10px;
          left: 0;
          margin: auto;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.title-header {
  font-size: $header3;
  color: $text-white;
  font-family: "Spartan", sans-serif;
  display: grid;
  place-items: center;
}

.burger {
  padding: 1em;

  .burger-circle {
    background: white;
    padding: 1em;
    border-radius: 50%;
  }

  .line1,
  .line2 {
    width: 2em;
    height: 0.2rem;
    margin: 0.3rem;
    background: $background-violet;
    pointer-events: none;
  }
}

.nav-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 50vh;

  .nav-btn {
    border: 2px solid $background-violet;
    padding: 0.5em 1em;
    border-radius: 10px;
    color: black;
    font-size: 1.4rem;
    color: $background-violet;
    margin: 2em;
  }
}
// Main

.activities {
  width: 100%;
  margin: auto;
  background: white;
  background-size: cover;

  // .activities-wrapper .greetings-video {
  //   padding-top: 4em;
  //   width: 60vw;
  //   height: 70vh;
  // }
  .activities-wrapper .card-content button {
    padding: 0.8em 2em;
    background: $background-red;
    transform: translateY(30px);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease 0s;
  }

  .activities-wrapper .card-content .cta-btn:hover {
    background-color: $background-blue;
    box-shadow: 0px 15px 20px rgba(128, 0, 0, 0.2);
    color: #fff;
  }
  .activities-wrapper {
    min-height: 80vh;
  }
}

//greyscale effect
div img {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
div img {
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
}
div img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
}

.footer {
  width: 100%;
  text-align: end;

  .logo-planit img {
    width: 20%;
  }
}

@media (orientation: landscape) {
  .activities {
    .activities-wrapper {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
    }

    .footer {
      .logo-planit img {
        width: 10%;
      }
    }
  }
}

@media (orientation: portrait) {
  .activities-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .card {
      text-align: center;
    }

    img.act-box {
      max-width: 50%;
    }
  }
}

@media (min-width: 767px) {
  main .activities .activities-wrapper {
    min-height: 80vh;
  }

  main .activities .activities-wrapper .card-content .cta-btn {
    font-size: 1.6rem;
  }
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// //Pop up cards
// .card:nth-of-type(1) {
//   animation: menu-item-anim 0.7s forwards 0s ease-in-out;
// }

// .card:nth-of-type(2) {
//   animation: menu-item-anim 0.7s forwards 0s ease-in-out;
// }

// .card:nth-of-type(3) {
//   animation: menu-item-anim 0.7s forwards 0s ease-in-out;
// }

// @keyframes menu-item-anim {
//   from {
//     transform: translateY(60%);
//     opacity: 0;
//   }

//   to {
//     transform: translateY(0%);
//     opacity: 1;
//   }
// }
