h2 {
    font-family: 'Special Elite', cursive;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 3rem;
}
h3 {
    font-family: 'Special Elite', cursive;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2rem;
}

.card p,
.card-two p, 
.card-three p, 
.card-four p, 
.card-five p {
    color: white;
    font-family: 'Roboto';
    
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
}
#attraction-one {
    background: #B7CDDA;
    min-height: 100vh;
    padding-top: 4rem;
}


#attraction-one .attraction-one_title
{
    background: rgba(21, 69, 124, 0.8);
    width: 100%;
    min-height: 30vh;

}


/* Attraction Web I */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
}

.wrapper-one_image {
width: 565px;
height: 351px;
flex: 1;
margin-right: 1rem;
margin-left: 2rem;
}

.card {
background: rgba(207, 0, 88, 0.8);
width: 791px;
height: 351px;
flex: 2;
padding: 0rem 4rem;
}


/* Attraction Web II */


/* ?first card */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
}

.wrapper-two_image {
width: 565px;
height: 351px;
flex: 1;
order: 2;
margin-right: 1rem;
margin-left: 2rem;
}

.card-two {
background: rgba(21, 69, 124, 0.8);
width: 791px;
height: 351px;
flex: 2;
order: 1;
padding: 0rem 4rem;
}


/* ?second card */
.wrapper-three_image {
width: 565px;
height: 351px;
flex: 1;
margin-right: 1rem;
margin-left: 2rem;
}

.card-three {
background: rgba(207, 0, 88, 0.8);
width: 791px;
height: 351px;
flex: 2;
padding: 0rem 4rem;
}


/* Attraction Web III */

.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
}

.wrapper-four_image {
width: 565px;
height: 351px;
flex: 1;
order: 2;
margin-right: 1rem;
margin-left: 2rem;
}

.card-four {
background: rgba(21, 69, 124, 0.8);
width: 791px;
height: 351px;
flex: 2;
padding: 0rem 4rem;
}


.wrapper-five_image {
    width: 565px;
    height: 351px;
    flex: 1;
    order: 1;
    margin-right: 1rem;
    margin-left: 2rem;
    }
    
    .card-five {
    background: rgba(21, 69, 124, 0.8);
    width: 791px;
    height: 351px;
    flex: 2;
    order: 1;
    padding: 0rem 4rem;
    }