/* GLOBAL STYLING */

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* ? helper class */

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* NAVBAR SECTION */

.navbar {
    position: relative;
    height: 25vh;
    width: 100vw;
    background-image: url(../images/skylineheader.png);
    background-color: #B7CDDA;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 102vh;

    
}

.navbar-linkarea {
    position: absolute;
    bottom: 0;
    
    height: 30%;
    width: 100vw;
    background-color: #15447C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    grid-gap: 0%;
}

.navbar-linkarea_link {
    font-family: 'Roboto', sans-serif;
    font-size:25px;
    color: white;
    display: inline-block;
    text-align: center;
    width: 20rem;
    text-decoration: none;
}



/* MAIN SECTION */


.hero {
    display: flex;

}

.hero-text {
display: flex;
flex-direction: column;
flex: 1 1 20rem;
border: solid 2px rgba(21, 69, 124, 0.8);
}


.hero-images {
display: flex;
flex: 1 1 20rem;
}
