body {
    margin: 0;
    padding: 0;
}



.navbar {
    position: relative;
    height: 25vh;
    width: 100vw;
}

.navbar-linkarea {
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100vw;
    background-color: #15447C;
    display: flex;
    flex-direction: row;
    align-items: center;
<<<<<<< HEAD
=======
    justify-content: flex-end;
>>>>>>> ff9e1d3375e485805293237492d2ab7a5a7b70e0
}

.navbar-linkarea_link {
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    color: white;
    display: inline-block;
    text-align: center;
    width: 20rem;
    text-decoration: none;
}