* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  background: #4c4981;
  animation: opening 1.5s ease-in-out forwards;
  -webkit-animation: opening 1.5s ease-in-out forwards;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-header .back {
  margin: 1em;
}

.nav-header .back .right-chevron {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.nav-header .back .right-chevron:before {
  width: 4px;
  height: 18px;
  content: "";
  border-radius: 6px;
  background-color: #4c4981;
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-header .back .right-chevron:after {
  width: 4px;
  height: 18px;
  content: "";
  border-radius: 6px;
  background-color: #4c4981;
  display: block;
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  margin: auto;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-header .title-header {
  font-size: 1.8rem;
  color: white;
  font-family: "Spartan", sans-serif;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.nav-header .burger {
  padding: 1em;
}

.nav-header .burger .burger-circle {
  background: white;
  padding: 1em;
  border-radius: 50%;
}

.nav-header .burger .line1,
.nav-header .burger .line2 {
  width: 2em;
  height: 0.2rem;
  margin: 0.3rem;
  background: #4c4981;
  pointer-events: none;
}

.nav-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50vh;
}

.nav-links .nav-btn {
  padding: 0.5em 1em;
  border-radius: 10px;
  color: black;
  font-size: 1.4rem;
  color: #4c4981;
  margin: 2em;
}

Main .activities {
  width: 100%;
  background: url("../Images/intro-img.png");
  background-size: cover;
}

Main .activities .activities-wrapper {
  min-height: 65vh;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: end center;
}

Main .activities .activities-wrapper .card-content .cta-btn {
  padding: 0.8em 2em;
  background: #ee3b40;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

Main .activities .activities-wrapper .card-content button:hover {
  background-color: #6165d7;
  -webkit-box-shadow: 0px 15px 20px rgba(128, 0, 0, 0.2);
          box-shadow: 0px 15px 20px rgba(128, 0, 0, 0.2);
  color: #fff;
}

Main .activities .card-info {
  display: fixed;
  position: absolute;
  right: 0;
  color: white;
  max-width: 35ch;
  min-height: 65vh;
}

Main .activities .card-info h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  padding: 1rem 1rem 0rem 1rem;
}

Main .activities .card-info p {
  line-height: 1.8rem;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  padding: 1em;
  font-size: 0.9rem;
}

Main .activities .footer {
  width: 100%;
  text-align: end;
}

Main .activities .footer .logo-planit img {
  width: 20%;
}

@media (orientation: landscape) {
  .activities .activities-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .activities .footer .logo-planit img {
    width: 10%;
  }
}

@media only screen and (orientation: portrait) {
  body {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media (min-width: 767px) {
  main .activities .activities-wrapper {
    min-height: 80vh;
  }
  main .activities .card-info {
    min-height: 80vh;
    max-width: 60ch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .activities .card-info h3 {
    font-size: 2.2rem;
    padding: 3rem 0rem 1rem 0rem;
  }
  main .activities .card-info p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 0rem 5rem 0rem 0rem;
  }
  main .activities .activities-wrapper .card-content .cta-btn {
    font-size: 1.6rem;
  }
}

@-webkit-keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=game-screen1.css.map */