$header1: 3.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 3rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #b391df, #7b38d3);
$background-color-first: #154353;
$gray-text: #2c2c2c;
$text-logo: white;



@import 'about';


// Global Styling

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
   }


